*{
    margin: 0px;
    padding: 0px;
}
body{
    min-width: 320px;
}


  
 
.navbar-nav .nav-item a{
    color: white; 


}


.navbar-nav .nav-item a.active{
   
    color: yellow;
    font-weight: bolder;
   
    
}
