*{
    margin: 0px;
    padding: 0px;
}
body{
    min-width: 320px;
}

.activelink{
    color: yellow;
}
/* .nav-link-item{
    font-size: 14px;
     
     padding:15px;
     display: block;
   color: white; 
     align-items: center;
   
     text-decoration: none;
} */

 .nav-link:hover{
    color:yellow;
}

