*{
    margin: 0px;
    padding: 0px;
}
body{
    min-width: 320px;
}

.activelink{
    color: yellow;
}

 
.navbar-nav .nav-item a{
    color: white; 
}
.navbar-nav.nav-item a:hover{
    color: yellow;
}