
/* category carousel */
.category-carousel .category-item {
  background:white;
  border: 1px solid #f4f1ed;
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.04);
  /* border-radius: 16px; */
  text-align: center;
  padding: 60px 20px;
  margin: 20px 0;
  
  transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
}
.category-carousel .category-item:hover {
  transform: translate3d(0,-10px,0);
  box-shadow: 0px 21px 44px rgba(0, 0, 0, 0.08);
}

.starter-product{
    width: 100%;
}


@media(max-width:990px){
    .img-starter-product{
display:none
    }
    .starter-product{
        width: 100%;
    }
}
body{
    min-width: 320px;
}