<!-- Team Section -->
<div class="container p-5">
  <h2 class="text-center fw-bold mb-5">
    Our Professional And Dedicated <br />
    Expert Team Leader
  </h2>
  <div class="row text-center">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card border-0">
        <img
          src="https://www.shutterstock.com/image-photo/portrait-young-investor-banker-workplace-260nw-2364566447.jpg"
          alt="Team Member 1"
          class="card-img-top rounded"
        />
        <div class="card-body">
          <h5 class="card-title fw-bold">Daisy W. Peyton</h5>
          <p class="card-text text-muted">CEO - Founder</p>
          <div class="d-flex justify-content-center">
            <a href="" class="text-dark me-3"
              ><i class="fab fa-facebook"></i
            ></a>
            <a href="" class="text-dark me-3"><i class="fab fa-twitter"></i></a>
            <a href="" class="text-dark me-3"><i class="fab fa-youtube"></i></a>
            <a href="" class="text-dark"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card border-0">
        <img
          src="https://www.shutterstock.com/image-photo/portrait-attractive-man-smiling-confident-260nw-1629683515.jpg"
          alt="Team Member 2"
          class="card-img-top rounded"
        />
        <div class="card-body">
          <h5 class="card-title fw-bold">Elizabeth Richards</h5>
          <p class="card-text text-muted">Senior Designer</p>
          <div class="d-flex justify-content-center">
            <a href="#" class="text-dark me-3"
              ><i class="fab fa-facebook"></i
            ></a>
            <a href="" class="text-dark me-3"><i class="fab fa-twitter"></i></a>
            <a href="" class="text-dark me-3"><i class="fab fa-youtube"></i></a>
            <a href="" class="text-dark"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card border-0">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcbeH7lYII2X6VTBVjN7Kn6qQ91poUT6xB7CoKjR81AlkyTO6SoyiwgIR8igyoMjD4lNQ&usqp=CAU"
          alt="Team Member 3"
          class="card-img-top rounded"
        />
        <div class="card-body">
          <h5 class="card-title fw-bold">Emanuel Hubbard</h5>
          <p class="card-text text-muted">Digital Marketer</p>
          <div class="d-flex justify-content-center">
            <a href="" class="text-dark me-3"
              ><i class="fab fa-facebook"></i
            ></a>
            <a href="" class="text-dark me-3"><i class="fab fa-twitter"></i></a>
            <a href="" class="text-dark me-3"><i class="fab fa-youtube"></i></a>
            <a href="" class="text-dark"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card border-0">
        <img
          src="https://www.shutterstock.com/image-photo/portrait-confident-young-business-woman-260nw-1593222007.jpg"
          alt="Team Member 4"
          class="card-img-top rounded"
        />
        <div class="card-body">
          <h5 class="card-title fw-bold">Jameson Stanley</h5>
          <p class="card-text text-muted">CO - Founder</p>
          <div class="d-flex justify-content-center">
            <a href="" class="text-dark me-3"
              ><i class="fab fa-facebook"></i
            ></a>
            <a href="" class="text-dark me-3"><i class="fab fa-twitter"></i></a>
            <a href="" class="text-dark me-3"><i class="fab fa-youtube"></i></a>
            <a href="" class="text-dark"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
