<section>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6">
        <h1 style="font-weight: 700; font-size: 30px">
          Make Delicious Best Creations<br />
          Shop With Fresko!
        </h1>
        <p class="mt-4">
          Ornare iaculis iaculis tincidunt velit liquet commodo turpis orc
          rhoncus tellus suspendisse phasellus consequat laoreet conubia
          interdum purus tempor ridiculus nullam libero aptent hendrerit nulla
        </p>

        <div class="features-box">
          <div class="d-flex mb-3">
            <div class="me-2">
              <img
                src="https://cdn-icons-png.flaticon.com/512/2331/2331970.png"
                alt="Fast Delivery"
                style="width: 40px"
              />
            </div>
            <div>
              <h5 class="fw-bold">Fast Item Delivery</h5>
              <p>
                Sociis vehicula fringilla bibendum integer praesent consequat
                odio amet praesent lectus blandit venenatis
              </p>
            </div>
          </div>

          <div class="d-flex">
            <div class="me-2">
              <img
                src="https://cdn-icons-png.flaticon.com/512/1798/1798405.png"
                alt="Dedicated Support"
                style="width: 40px"
              />
            </div>
            <div>
              <h5 class="fw-bold">Dedicated Support</h5>
              <p>
                Lectus suspendisse on ante ultricies tellus consequat integer
                eros nostra eget pede quisque curae placerat
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 position-relative">
        <div class="image-about">
          <img src="./images/pic1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
