<div class="container my-5">
  <div class="row">
    <div class="col-lg-12">
      <h1
        class="mb-5 fw-bolder"
        style="display: flex; justify-content: center; align-items: center"
      >
        Custard Powder
      </h1>
      <!-- Product Grid -->
      <div class="row">
        <!-- Product Card 1 -->
        <div class="col-md-3">
          <a
          href="product-custard.php"
          style="color: black; text-decoration: none"
        >
          <div class="product-card">
            <div class="product-badge">HOT</div>
            <img
              src="https://springs.com.pk/cdn/shop/products/620514006178.jpg?v=1675246488"
              alt="Product 1"
            />
            <div class="product-meta">By: Big Market</div>
            <div class="product-title">Mango Flavour</div>
            <div class="rating">★★★★☆</div>
            <div class="product-meta">Unit: 500gm</div>
            <div class="product-price">$28.50</div>
            <div class="product-price-original">$38.50</div>
            <button class="add-to-cart-btn">Add To Cart</button>
            </a>
          </div>
        </div>

        <!-- Product Card 2 -->
        <div class="col-md-3">
          <div class="product-card">
            <a
            href="product-custard.php"
            style="color: black; text-decoration: none"
          >
            <div class="product-badge best">BEST</div>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlNOKuG0DGxNnmClXDpna1tMAIAfCoE7aNVQ&s"
              alt="Product 2"
            />
            <div class="product-meta">By: Market</div>
            <div class="product-title">Vanila Flavour</div>
            <div class="rating">★★★★☆</div>
            <div class="product-meta">Unit: 2kg</div>
            <div class="product-price">$16.50</div>
            <div class="product-price-original">$20.50</div>
            <button class="add-to-cart-btn">Add To Cart</button>
            </a>
          </div>
        </div>

       
      </div>
    </div>
  </div>
</div>
