
    <div class="container my-5">
      <div class="faq-header text-center">Popular Question For You</div>
      <div class="faq-subheader mt-4">Shopping Info:</div>

      <div class="accordion mt-3" id="faqAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header " id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Q: Where Is Standard Shipping Available?
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#faqAccordion"
            
          >
            <div class="accordion-body">
              <!-- Content for this FAQ item goes here -->
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Q: Can I Change My Shipping Address?
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#faqAccordion"
          >
            <div class="accordion-body">
              Interdum tempus neque senectus lacinia non lacus semper semper
              eleifend eros velentine Integer feugiat lacus maecenas sodales
              sodales dolor amerates forever column boy thunder bibendum.
              Iaculis necesity arcu risus rutrum condimentum morbi condimentum
              bibendum eget maecenas placerat. Leo cum ante nisi. Suspendisse
              ullamcorper inceptos praesent maecenas blandit.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Q: When Is Your Shipping Cut Off Time?
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#faqAccordion"
          >
            <div class="accordion-body">
              <!-- Content for this FAQ item goes here -->
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
              Q: When Is Your Shipping Cut Off Time?
            </button>
          </h2>
          <div
            id="collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="headingFour"
            data-bs-parent="#faqAccordion"
          >
            <div class="accordion-body">
              <!-- Content for this FAQ item goes here -->
            </div>
          </div>
        </div>
      </div>

      <div class="faq-subheader mt-4">Order & Delivery:</div>

      <div class="accordion mt-3" id="faqAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header " id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Q:When will My credit card be change?
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#faqAccordion"
            
          >
            <div class="accordion-body">
              <!-- Content for this FAQ item goes here -->
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Q: What can i do if I have an issue with my order?
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#faqAccordion"
          >
            <div class="accordion-body">
              Interdum tempus neque senectus lacinia non lacus semper semper
              eleifend eros velentine Integer feugiat lacus maecenas sodales
              sodales dolor amerates forever column boy thunder bibendum.
              Iaculis necesity arcu risus rutrum condimentum morbi condimentum
              bibendum eget maecenas placerat. Leo cum ante nisi. Suspendisse
              ullamcorper inceptos praesent maecenas blandit.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Q: What payment method do you accept?
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#faqAccordion"
          >
            <div class="accordion-body">
              <!-- Content for this FAQ item goes here -->
            </div>
          </div>
        </div>
        
      </div>

      <div class="faq-subheader mt-4">Payment:</div>

      <div class="accordion mt-3" id="faqAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header " id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Q: Can I change my payment method?
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#faqAccordion"
            
          >
            <div class="accordion-body">
              <!-- Content for this FAQ item goes here -->
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Q: Do you offer 3 or 4 time payment options?
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#faqAccordion"
          >
            <div class="accordion-body">
              Interdum tempus neque senectus lacinia non lacus semper semper
              eleifend eros velentine Integer feugiat lacus maecenas sodales
              sodales dolor amerates forever column boy thunder bibendum.
              Iaculis necesity arcu risus rutrum condimentum morbi condimentum
              bibendum eget maecenas placerat. Leo cum ante nisi. Suspendisse
              ullamcorper inceptos praesent maecenas blandit.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Q: How long does it take Take to ship my order?
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#faqAccordion"
          >
            <div class="accordion-body">
              <!-- Content for this FAQ item goes here -->
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </body>
</html>
