<section class="my-5">
  <div class="container">
    <div class="navbar navbar-expand-xl navbar-dark">
      <div>
        <a class="navbar-brand fs-2 fw-bold text-dark" href="#"
          >Related Products</a
        >
      </div>
    </div>

    <div>
      <hr class="text-dark" />
    </div>

    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5"
      style="margin-left: 20px"
    >
      <div class="col">
        <div class="row" style="margin-right: 10px">
          <a href="" style="text-decoration: none; color: black">
            <div class="card mb-3">
              <img
                src="./images/ad-image-4.png"
                class="card-img-top"
                alt="..."
              />
              <hr class="text-muted mt-5" />

              <div class="card-body">
                <h5 class="card-title m-auto mb-2">Fresh Organic IceCream</h5>
                <div>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star"></span>
                </div>
                <span>unit: 1 Pack</span>
                <div class="d-flex mb-2">
                  <p class="text-success" style="font-weight: bold">$14.50</p>
                  <span>$18.50</span>
                </div>

                <a href="#" class="btn mb-2" style="border: 1px solid black"
                  >AddToCart</a
                >
                <p class="text-danger mb-2">In Stock</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="row" style="margin-right: 10px">
          <a href="" style="text-decoration: none; color: black">
            <div class="card mb-3">
              <img
                src="./images/ad-image-3.png"
                class="card-img-top"
                alt="..."
              />
              <hr class="text-muted mt-5" />

              <div class="card-body">
                <h5 class="card-title m-auto mb-2">Primary & Quality Mats</h5>
                <div>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star"></span>
                </div>
                <span>unit: 1 Pack</span>
                <div class="d-flex mb-2">
                  <p class="text-success" style="font-weight: bold">$14.50</p>
                  <span>$18.50</span>
                </div>

                <a href="#" class="btn mb-2" style="border: 1px solid black"
                  >AddToCart</a
                >
                <p class="text-danger mb-2">In Stock</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="row" style="margin-right: 10px">
          <a href="" style="text-decoration: none; color: black">
            <div class="card mb-3">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnA7p9enP7G51R4QhSxEoV1sXAabeFl6Y1PA&s"
                class="card-img-top"
                alt="..."
              />
              <hr class="text-muted mt-5" />

              <div class="card-body">
                <h5 class="card-title m-auto mb-2">Nestle Sweet Yogurt</h5>
                <div>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star"></span>
                </div>
                <span>unit: 1 Pack</span>
                <div class="d-flex mb-2">
                  <p class="text-success" style="font-weight: bold">$14.50</p>
                  <span>$18.50</span>
                </div>

                <a href="#" class="btn mb-2" style="border: 1px solid black"
                  >AddToCart</a
                >
                <p class="text-danger mb-2">In Stock</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="row" style="margin-right: 10px">
          <a href="" style="text-decoration: none; color: black">
            <div class="card mb-3">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcVfud5XKGzvbJJvs98atZbxElw01bT9Ki6w&s"
                class="card-img-top"
                alt="..."
              />
              <hr class="text-muted mt-5" />

              <div class="card-body">
                <h5 class="card-title m-auto mb-2">Dried Crew Nuts</h5>
                <div>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star"></span>
                </div>
                <span>unit: 1 Pack</span>
                <div class="d-flex mb-2">
                  <p class="text-success" style="font-weight: bold">$14.50</p>
                  <span>$18.50</span>
                </div>

                <a href="#" class="btn mb-2" style="border: 1px solid black"
                  >AddToCart</a
                >
                <p class="text-danger mb-2">In Stock</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="row" style="margin-right: 10px">
          <a href="" style="text-decoration: none; color: black">
            <div class="card mb-3">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZQi4Fp1tMI-aLuAGH-sEGDbvlvPrsb-7Wzw&s"
                class="card-img-top"
                alt="..."
              />
              <hr class="text-muted mt-5" />

              <div class="card-body">
                <h5 class="card-title m-auto mb-2">Organic Dry Fish</h5>
                <div>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star"></span>
                </div>
                <span>unit: 1 Pack</span>
                <div class="d-flex mb-2">
                  <p class="text-success" style="font-weight: bold">$14.50</p>
                  <span>$18.50</span>
                </div>

                <a href="#" class="btn mb-2" style="border: 1px solid black"
                  >AddToCart</a
                >
                <p class="text-danger mb-2">In Stock</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="navbar navbar-expand-xl navbar-dark">
      <div>
        <a class="navbar-brand fs-2 fw-bold text-dark" href="#"
          >Recent Viewed</a
        >
      </div>
    </div>
    <div>
      <hr class="text-dark" />
    </div>

    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5"
      style="margin-left: 20px"
    >
      <div class="col">
        <div class="row" style="margin-right: 10px">
          <a href="" style="text-decoration: none; color: black">
            <div class="card mb-3">
              <img
                src="./images/ad-image-4.png"
                class="card-img-top"
                alt="..."
              />
              <hr class="text-muted mt-5" />

              <div class="card-body">
                <h5 class="card-title m-auto mb-2">Fresh Organic IceCream</h5>
                <div>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star"></span>
                </div>
                <span>unit: 1 Pack</span>
                <div class="d-flex mb-2">
                  <p class="text-success" style="font-weight: bold">$14.50</p>
                  <span>$18.50</span>
                </div>

                <a href="#" class="btn mb-2" style="border: 1px solid black"
                  >AddToCart</a
                >
                <p class="text-danger mb-2">In Stock</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="row" style="margin-right: 10px">
          <a href="" style="text-decoration: none; color: black">
            <div class="card mb-3">
              <img
                src="./images/ad-image-3.png"
                class="card-img-top"
                alt="..."
              />
              <hr class="text-muted mt-5" />

              <div class="card-body">
                <h5 class="card-title m-auto mb-2">Primary & Quality Mats</h5>
                <div>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star"></span>
                </div>
                <span>unit: 1 Pack</span>
                <div class="d-flex mb-2">
                  <p class="text-success" style="font-weight: bold">$14.50</p>
                  <span>$18.50</span>
                </div>

                <a href="#" class="btn mb-2" style="border: 1px solid black"
                  >AddToCart</a
                >
                <p class="text-danger mb-2">In Stock</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="row" style="margin-right: 10px">
          <a href="" style="text-decoration: none; color: black">
            <div class="card mb-3">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnA7p9enP7G51R4QhSxEoV1sXAabeFl6Y1PA&s"
                class="card-img-top"
                alt="..."
              />
              <hr class="text-muted mt-5" />

              <div class="card-body">
                <h5 class="card-title m-auto mb-2">Nestle Sweet Yogurt</h5>
                <div>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star checked" style="color: yellow"></span>
                  <span class="fa fa-star"></span>
                </div>
                <span>unit: 1 Pack</span>
                <div class="d-flex mb-2">
                  <p class="text-success" style="font-weight: bold">$14.50</p>
                  <span>$18.50</span>
                </div>

                <a href="#" class="btn mb-2" style="border: 1px solid black"
                  >AddToCart</a
                >
                <p class="text-danger mb-2">In Stock</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
