<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div
          class="banner-ad mb-1 rounded"
          style="
            background: url('./images/banner-image-2.jpg');
            background-repeat: no-repeat;
            background-position: right bottom;
          "
        >
          <div class="banner-content p-5 w-100">
            <h3 class="banner-title text-light" style="font-weight: bold">
              Selected Organic Pollen Jar with Spoon
            </h3>
            <div
              class="categories fw-bold"
              style="font-size: 20px; color: orange"
            >
              Enjoy Upto 25% OFF
            </div>

            <a href="#" class="btn text-uppercase btn-light text-dark"
              >Show Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div
          class="banner-ad rounded"
          style="
            background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCEhlYQa90CjUhdXeROEgcF92dtRcoOsvKtg&s');
            background-repeat: no-repeat;
            background-position: right bottom;

            width: 100%;
            background-size: cover;
          "
        >
          <div class="banner-content p-5 w-75">
            <h3 class="banner-title text-light" style="font-weight: bold">
              Delecious Salad in a Farm Avocado
            </h3>
            <div
              class="categories fw-bold mt-3"
              style="font-size: 20px; color: orange"
            >
              Enjoy Upto 25% OFF
            </div>

            <a href="#" class="btn text-uppercase btn-light text-dark mt-3"
              >Show Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
