<section class="my-5">
  <div class="container">
    <div class="navbar navbar-expand-xl navbar-dark">
      <div>
        <a
          class="navbar-brand fs-2 fw-bold text-dark"
          href="#"
          style="
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
              sans-serif;
          "
          >Products of your choice</a
        >
      </div>

      <div class="collapse navbar-collapse show" id="navbarDark">
        <ul
          class="navbar-nav ms-auto mb-2 mb-xl-0 fs-5 ms-auto p-2 text-center"
        >
          <li class="nav-item me-1">
            <a
              class="nav-link active text-dark"
              aria-current="page"
              href="#"
              style="font-size: 15px"
              >All</a
            >
          </li>
          <li class="nav-item me-1">
            <a
              class="nav-link text-dark"
              href="bakery-items.php"
              style="font-size: 15px"
              >Bakery&pastery</a
            >
          </li>
          <li class="nav-item me-1">
            <a
              class="nav-link text-dark"
              href="frozen-food.php"
              style="font-size: 15px"
              >Frozen Food</a
            >
          </li>
          <li class="nav-item me-1">
            <a
              class="nav-link text-dark"
              href="meat-fish.php"
              style="font-size: 15px"
              >Meat&Fish</a
            >
          </li>
          <li class="nav-item me-1">
            <a
              class="nav-link text-dark"
              href="fruits.php"
              style="font-size: 15px"
              >Fruits</a
            >
          </li>
          <li class="nav-item me-1">
            <a
              class="nav-link text-dark"
              href="veg-items.php"
              style="font-size: 15px"
              >Vegetables</a
            >
          </li>
          <li class="nav-item me-1">
            <a
              class="nav-link text-dark"
              href="juices.php"
              style="font-size: 15px"
              >Juices</a
            >
          </li>
          <li>
            <p>
              <span style="font-size: 35px" class="span-product mt-1"
                >&#139;</span
              >
              <span style="font-size: 35px" class="span-product mt-1"
                >&#155;</span
              >
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <hr class="text-dark" />
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
      <div class="col-md-3">
        <a href="product-milk.php" style="color: black; text-decoration: none">
          <div class="product-card">
            <div class="product-badge best">Best</div>
            <img src="images/ad-image-9.png" alt="Product 1" />
            <div class="product-meta">By: Big Market</div>
            <div class="product-title">Fresh Organic Milk</div>
            <div class="rating">★★★★☆</div>
            <div class="product-meta">Unit: 500gm</div>
            <div class="product-price">$5.00</div>
            <div class="product-price-original">$8.50</div>
            <button class="add-to-cart-btn">Add To Cart</button>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a
          href="product-orange.php"
          style="color: black; text-decoration: none"
        >
          <div class="product-card">
            <div class="product-badge best">Best</div>
            <img src="images/ad-image-10.png" alt="" alt="Product 1" />
            <div class="product-meta">By: Big Market</div>
            <div class="product-title">Fresh Oranges</div>
            <div class="rating">★★★★☆</div>
            <div class="product-meta">Unit: 500gm</div>
            <div class="product-price">$5.00</div>
            <div class="product-price-original">$8.00</div>
            <button class="add-to-cart-btn">Add To Cart</button>
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <a
          href="product-vegetables.php"
          style="color: black; text-decoration: none"
        >
          <div class="product-card">
            <div class="product-badge best">Best</div>
            <img src="./images/ad-image-5.png" alt="" alt="Product 1" />
            <div class="product-meta">By: Big Market</div>
            <div class="product-title">Organic Vegetables</div>
            <div class="rating">★★★★☆</div>
            <div class="product-meta">Unit: 500gm</div>
            <div class="product-price">$2.00</div>
            <div class="product-price-original">$3.50</div>
            <button class="add-to-cart-btn">Add To Cart</button>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a
          href="product-icecream.php"
          style="color: black; text-decoration: none"
        >
          <div class="product-card">
            <div class="product-badge best">Best</div>
            <img src="./images/ad-image-3.png" alt="" alt="Product 1" />
            <div class="product-meta">By: Big Market</div>
            <div class="product-title">Organic IceCream</div>
            <div class="rating">★★★★☆</div>
            <div class="product-meta">Unit: 500gm</div>
            <div class="product-price">$2.00</div>
            <div class="product-price-original">$5.00</div>
            <button class="add-to-cart-btn">Add To Cart</button>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a
          href="product-strawbery.php"
          style="color: black; text-decoration: none"
        >
          <div class="product-card">
            <div class="product-badge sale">-30%</div>
            <img src="./images/ad-image-11.png" alt="" alt="Product 1" />
            <div class="product-meta">By: Big Market</div>
            <div class="product-title">Fresh Strawbery</div>
            <div class="rating">★★★★☆</div>
            <div class="product-meta">Unit: 500gm</div>
            <div class="product-price">$5.00</div>
            <div class="product-price-original">$8.00</div>
            <button class="add-to-cart-btn">Add To Cart</button>
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <a
          href="product-detergent.php"
          style="color: black; text-decoration: none"
        >
          <div class="product-card">
            <img src="./images/ad-image-12.png" alt="" alt="Product 1" />
            <div class="product-meta">By: Big Market</div>
            <div class="product-title">Organic Liquid Detergents</div>
            <div class="rating">★★★★☆</div>
            <div class="product-meta">Unit: 500gm</div>
            <div class="product-price">$2.50</div>
            <div class="product-price-original">$3.50</div>
            <button class="add-to-cart-btn">Add To Cart</button>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a
          href="product-cabbage.php"
          style="color: black; text-decoration: none"
        >
          <div class="product-card">
            <img src="./images/ad-image-13.png" alt="" alt="Product 1" />
            <div class="product-meta">By: Big Market</div>
            <div class="product-title">Green Chineese Cabbage</div>
            <div class="rating">★★★★☆</div>
            <div class="product-meta">Unit: 500gm</div>
            <div class="product-price">$1.00</div>
            <div class="product-price-original">$1.50</div>
            <button class="add-to-cart-btn">Add To Cart</button>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="product-pasta.php" style="color: black; text-decoration: none">
          <div class="product-card">
            <div class="product-badge HOT">HOT</div>
            <img src="images/ad-image-14.png" alt="" alt="Product 1" />
            <div class="product-meta">By: Big Market</div>
            <div class="product-title">Itallian healthy Wheat Pasta</div>
            <div class="rating">★★★★☆</div>
            <div class="product-meta">Unit: 500gm</div>
            <div class="product-price">$3.00</div>
            <div class="product-price-original">$4.50</div>
            <button class="add-to-cart-btn">Add To Cart</button>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="product-bread.php" style="color: black; text-decoration: none">
          <div class="product-card">
            <div class="product-badge">HOT</div>
            <img src="./images/ad-image-16.png" alt="Product 1" />
            <div class="product-meta">By: Big Market</div>
            <div class="product-title">Fresh & Tastfull Bread</div>
            <div class="rating">★★★★☆</div>
            <div class="product-meta">Unit: 500gm</div>
            <div class="product-price">$1.50</div>
            <div class="product-price-original">$2.00</div>
            <button class="add-to-cart-btn">Add To Cart</button>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="product-mat.php" style="color: black; text-decoration: none">
          <div class="product-card">
            <div class="product-badge HOT">-50%</div>
            <img src="./images/ad-image-4.png" alt="Product 1" />
            <div class="product-meta">By: Big Market</div>
            <div class="product-title">Primary & Quality Mats</div>
            <div class="rating">★★★★☆</div>
            <div class="product-meta">Unit: 500gm</div>
            <div class="product-price">$5.00</div>
            <div class="product-price-original">$10.50</div>
            <button class="add-to-cart-btn">Add To Cart</button>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
