<div class="container">
  <div class="d-flex heading">
    <h1>Deals of the Week</h1>
    <p>
      <span class="span-product">&#139;</span>
      <span class="span-product">&#155;</span>
    </p>
  </div>
  <div>
    <hr class="text-dark" />
  </div>

  <div class="product-container my-5">
    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <a href="product-chips.php" style="color: black; text-decoration: none">
        <div class="product-card product">
          <div class="product-badge">HOT</div>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtk-hrij30TxKt8MnrqZQFMVAfE7k95Pu9Mg&s"
            alt="Product 1"
          />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">Chineese Chips</div>
          <div class="rating">★★★★★</div>
          <div class="product-meta">Unit: 500gm</div>
          <div class="product-price">$28.50</div>
          <div class="product-price-original">$38.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </div>

      </a>
    </div>


    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <a href="product-iron.php" style="color: black; text-decoration: none">
        <div class="product-card product">
          <div class="product-badge best">BEST</div>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZzJykcdPepjnj5YQNtgCGrgmYPgB6j0vnoQ&s"
            alt="Product 1"
          />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">Panasonic Iron</div>
          <div class="rating">★★★★☆</div>
          <div class="product-meta">Unit: 500gm</div>
          <div class="product-price">$28.50</div>
          <div class="product-price-original">$38.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </div>
      </a>
    </div>

    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <a href="product-mat.php" style="color: black; text-decoration: none">
        <div class="product-card product">
          <img src="./images/ad-image-3.png" alt="Product 1" />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">Beautiful Mats</div>
          <div class="rating">★★★☆☆</div>
          <div class="product-meta">Unit: 500gm</div>
          <div class="product-price">$28.50</div>
          <div class="product-price-original">$38.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </div>
      </a>
    </div>

    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <a
        href="product-icecream.php"
        style="color: black; text-decoration: none"
      >
        <div class="product-card product">
          <div class="product-badge sale">-20%</div>
          <img src="./images/ad-image-4.png" alt="Product 1" />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">IceCream</div>
          <div class="rating">★★★★☆</div>
          <div class="product-meta">Unit: 500gm</div>
          <div class="product-price">$28.50</div>
          <div class="product-price-original">$38.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </div>
      </a>
    </div>

    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <a
        href="product-icecream.php"
        style="color: black; text-decoration: none"
      >
        <div class="product-card product">
          <div class="product-badge sale">-30%</div>
          <img src="./images/ad-image-2.png" alt="Product 1" />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">Chocolate Icecream</div>
          <div class="rating">★★★★★</div>
          <div class="product-meta">Unit: 500gm</div>
          <div class="product-price">$28.50</div>
          <div class="product-price-original">$38.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </div>
      </a>
    </div>

    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <a href="product-mat.php" style="color: black; text-decoration: none">
        <div class="product-card product">
          <div class="product-badge sale">-20%</div>
          <img src="./images/ad-image-3.png" alt="Product 1" />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">Beautiful Mats</div>
          <div class="rating">★★★★☆</div>
          <div class="product-meta">Unit: 500gm</div>
          <div class="product-price">$28.50</div>
          <div class="product-price-original">$38.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </div>
      </a>
    </div>

    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <a
        href="product-vegetables.php"
        style="color: black; text-decoration: none"
      >
        <div class="product-card product">
          <img src="./images/ad-image-1.png" alt="Product 1" />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">Organic Vegetables</div>
          <div class="rating">★★★★☆</div>
          <div class="product-meta">Unit: 500gm</div>
          <div class="product-price">$28.50</div>
          <div class="product-price-original">$38.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </div>
      </a>
    </div>

    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <a
        href="product-icecream.php"
        style="color: black; text-decoration: none"
      >
        <div class="product-card product">
          <div class="product-badge sale">-20%</div>
          <img src="./images/ad-image-4.png" alt="Product 1" />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">IceCream</div>
          <div class="rating">★★★★☆</div>
          <div class="product-meta">Unit: 500gm</div>
          <div class="product-price">$28.50</div>
          <div class="product-price-original">$38.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </div>
      </a>
    </div>

    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <a href="product-mat.php" style="color: black; text-decoration: none">
        <div class="product-card product">
          <div class="product-badge sale">-20%</div>
          <img src="./images/ad-image-3.png" alt="Product 1" />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">Beautiful Mats</div>
          <div class="rating">★★★★☆</div>
          <div class="product-meta">Unit: 500gm</div>
          <div class="product-price">$28.50</div>
          <div class="product-price-original">$38.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </div>
      </a>
    </div>

    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <a
        href="product-vegetables.php"
        style="color: black; text-decoration: none"
      >
        <div class="product-card product">
          <img src="./images/ad-image-1.png" alt="Product 1" />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">Organic Vegetables</div>
          <div class="rating">★★★★☆</div>
          <div class="product-meta">Unit: 500gm</div>
          <div class="product-price">$28.50</div>
          <div class="product-price-original">$38.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </div>
      </a>
    </div>

    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <a
        href="product-icecream.php"
        style="color: black; text-decoration: none"
      >
        <div class="product-card product">
          <div class="product-badge sale">-30%</div>
          <img src="./images/ad-image-2.png" alt="Product 1" />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">Chocolate Icecream</div>
          <div class="rating">★★★★★</div>
          <div class="product-meta">Unit: 500gm</div>
          <div class="product-price">$28.50</div>
          <div class="product-price-original">$38.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </div>
      </a>
    </div>
  </div>
</div>
