<section style="background: #f4f1ed">
  <div class="container">
    <div class="navbar navbar-expand-xl navbar-dark">
      <div>
        <a
          class="navbar-brand fs-2 fw-bold text-dark"
          href="#"
          style="
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
              sans-serif;
          "
          >Best Selling Products</a
        >
      </div>

      <div class="collapse navbar-collapse show" id="navbarDark">
        <ul
          class="navbar-nav ms-auto mb-2 mb-xl-0 fs-5 ms-auto p-2 text-center"
        >
          <li class="nav-item me-3">
            <a
              class="nav-link active text-dark"
              aria-current="page"
              href="related-product.php"
              style="font-size: 15px"
              >Recent</a
            >
          </li>
          <li class="nav-item me-3">
            <a class="nav-link text-dark" href="#" style="font-size: 15px"
              >Popular</a
            >
          </li>
          <li class="nav-item me-3">
            <a class="nav-link text-dark" href="#" style="font-size: 15px"
              >Featured</a
            >
          </li>
          <button
            class="btn btn-outline-dark"
            type="submit"
            style="font-size: 15px"
          >
            <a href="" class="text-dark" style="text-decoration: none">
              View All</a
            >
          </button>
        </ul>
      </div>
    </div>

    <div>
      <hr class="text-dark" />
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
      <div class="col-md-3">
        <a
          href="product-butter.php"
          style="color: black; text-decoration: none"
        >
          <div class="product-card">
            <div class="product-badge">HOT</div>
            <img src="./images/ad-image-17.png" alt="Product 1" />
            <div class="product-meta">By: Big Market</div>
            <div class="product-title">Butter</div>
            <div class="rating">★★★★☆</div>
            <div class="product-meta">Unit: 500gm</div>
            <div class="product-price">$10.00</div>
            <div class="product-price-original">$13.50</div>
            <button class="add-to-cart-btn">Add To Cart</button>
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <a href="product-mat.php" style="color: black; text-decoration: none">
          <div class="product-card">
            <div class="product-badge HOT">-50%</div>
            <img
              src="https://png.pngtree.com/png-clipart/20201208/ourmid/pngtree-classical-decorative-style-mat-clipart-png-image_2531941.jpg"
              alt="Product 1"
            />
            <div class="product-meta">By: Big Market</div>
            <div class="product-title">Quality Mats</div>
            <div class="rating">★★★★☆</div>
            <div class="product-meta">Unit: 500gm</div>
            <div class="product-price">$5.00</div>
            <div class="product-price-original">$10.50</div>
            <button class="add-to-cart-btn">Add To Cart</button>
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <a
          href="product-yogurt.php"
          style="color: black; text-decoration: none"
        >
          <div class="product-card">
            <div class="product-badge best">Best</div>
            <img src="./images/ad-image-6.png" alt="Product 1" />
            <div class="product-meta">By: Big Market</div>
            <div class="product-title">Nestle Sweet Yogurt</div>
            <div class="rating">★★★★☆</div>
            <div class="product-meta">Unit: 500gm</div>
            <div class="product-price">$3.00</div>
            <div class="product-price-original">$8.50</div>
            <button class="add-to-cart-btn">Add To Cart</button>
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <a href="product-nuts.php" style="color: black; text-decoration: none">
          <div class="product-card">
            <img src="./images/ad-image-7.png" alt="Product 1" />
            <div class="product-meta">By: Big Market</div>
            <div class="product-title">Dried Crew Nuts</div>
            <div class="rating">★★★★☆</div>
            <div class="product-meta">Unit: 500gm</div>
            <div class="product-price">$10.00</div>
            <div class="product-price-original">$15.50</div>
            <button class="add-to-cart-btn">Add To Cart</button>
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <a href="product-fish.php" style="color: black; text-decoration: none">
          <div class="product-card">
            <div class="product-badge sale">-20%</div>
            <img src="./images/ad-image-8.png" alt="Product 1" />
            <div class="product-meta">By: Big Market</div>
            <div class="product-title">Organic Dry Fish</div>
            <div class="rating">★★★★☆</div>
            <div class="product-meta">Unit: 500gm</div>
            <div class="product-price">$15.00</div>
            <div class="product-price-original">$20.50</div>
            <button class="add-to-cart-btn">Add To Cart</button>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
