<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div
          class="banner-ad mb-3 rounded"
          style="
            background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-Im8vQYfDyTHjXy0I2q4pUA4qH65Fhf2S7A&s');
            background-repeat: no-repeat;
            background-size: cover;
          "
        >
          <div class="banner-content p-5 w-75">
            <h3 class="banner-title" style="font-weight: bolder">
              Selected Organic Pollen Jar with Spoon
            </h3>
            <div
              class="categories text-danger fw-bold mt-3"
              style="font-size: 20px"
            >
              Enjoy Upto 25% OFF
            </div>

            <a href="#" class="btn text-uppercase btn-success mt-3">Show Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="banner-ad rounded"
          style="
            background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkxf44fcSKe0u1XP44tjuTbaWlelYxo_mI_Q&s');
            background-repeat: no-repeat;
            background-size: cover;
          "
        >
          <div class="banner-content p-5 w-75">
            <h3 class="banner-title" style="font-weight: bold">
              Delecious Salad in a Farm Avocado
            </h3>
            <div
              class="categories text-danger fw-bold mt-3"
              style="font-size: 20px"
            >
              Enjoy Upto 25% OFF
            </div>

            <a href="#" class="btn text-uppercase btn-success mt-3">Show Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
