<div class="container">
  <div class="d-flex heading">
    <h1>Deals of the Week</h1>
    <p>
      <span class="span-product">&#139;</span>
      <span class="span-product">&#155;</span>
    </p>
  </div>
  <div>
    <hr class="text-dark" />
  </div>

  <div class="product-container my-5">
    <div class="" style="margin-right: 20px">
      <a href="product-chips.php" style="text-decoration: none; color: black">
        <div class="card" style="width: 18rem">
          <div class="product-badge">HOT</div>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtk-hrij30TxKt8MnrqZQFMVAfE7k95Pu9Mg&s"
            class="card-img-top"
            alt="..."
          />
          <hr class="text-muted mt-5" />

          <div class="card-body" style="margin-left: 50px">
            <h5 class="card-title m-auto mb-2">PoPO Chineese Chips</h5>
            <div>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star"></span>
            </div>
            <span>unit: 1 Pack</span>
            <div class="d-flex mb-2">
              <p class="text-success" style="font-weight: bold">$14.50</p>
              <span>$18.50</span>
            </div>

            <a href="#" class="btn mb-2" style="border: 1px solid black"
              >AddToCart</a
            >
            <p class="text-danger mb-2">In Stock</p>
          </div>
        </div>
      </a>
    </div>

    <div style="margin-right: 20px">
      <a href="product-iron.php" style="text-decoration: none; color: black">
        <div class="card" style="width: 18rem">
          <div class="product-badge best">BEST</div>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZzJykcdPepjnj5YQNtgCGrgmYPgB6j0vnoQ&s"
            class="card-img-top"
            alt="..."
          />
          <hr class="text-muted mt-5" />
          <div class="card-body" style="margin-left: 50px">
            <h5 class="card-title m-auto mb-2">Panasinic Iron</h5>
            <div>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <span>unit: 1 Pack</span>
            <div class="d-flex mb-2">
              <p class="text-success" style="font-weight: bold">$14.50</p>
              <span>$18.50</span>
            </div>

            <a href="#" class="btn mb-2" style="border: 1px solid black"
              >AddToCart</a
            >
            <p class="text-danger mb-2">In Stock</p>
          </div>
        </div>
      </a>
    </div>

    <div style="margin-right: 20px">
      <a href="product-mat.php" style="text-decoration: none; color: black">
        <div class="card" style="width: 18rem">
          <img src="./images/ad-image-3.png" class="card-img-top" alt="..." />
          <hr class="text-muted mt-5" />
          <div class="card-body" style="margin-left: 50px">
            <h5 class="card-title m-auto mb-2">Beautiful Mats</h5>
            <div>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <span>unit: 1 Pack</span>
            <div class="d-flex mb-2">
              <p class="text-success" style="font-weight: bold">$14.50</p>
              <span>$18.50</span>
            </div>

            <a href="#" class="btn mb-2" style="border: 1px solid black"
              >AddToCart</a
            >
            <p class="text-danger mb-2">In Stock</p>
          </div>
        </div>
      </a>
    </div>
    <div style="margin-right: 20px">
      <a
        href="product-icecream.php"
        style="text-decoration: none; color: black"
      >
        <div class="card" style="width: 18rem">
          <div class="product-badge sale">-20%</div>
          <img src="./images/ad-image-4.png" class="card-img-top" alt="..." />
          <hr class="text-muted mt-5" />
          <div class="card-body" style="margin-left: 50px">
            <h5 class="card-title m-auto mb-2">IceCream</h5>
            <div>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star"></span>
            </div>
            <span>unit: 1 Pack</span>
            <div class="d-flex mb-2">
              <p class="text-success" style="font-weight: bold">$14.50</p>
              <span>$18.50</span>
            </div>

            <a href="#" class="btn mb-2" style="border: 1px solid black"
              >AddToCart</a
            >
            <p class="text-danger mb-2">In Stock</p>
          </div>
        </div>
      </a>
    </div>
    <div style="margin-right: 20px">
      <a
        href="product-icecream.php"
        style="text-decoration: none; color: black"
      >
        <div class="card" style="width: 18rem">
          <div class="product-badge sale">-30%</div>
          <img src="./images/ad-image-2.png" class="card-img-top" alt="..." />
          <hr class="text-muted mt-5" />
          <div class="card-body" style="margin-left: 50px">
            <h5 class="card-title m-auto mb-2">Chocolate Icecream</h5>
            <div>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <span>unit: 1 Pack</span>
            <div class="d-flex mb-2">
              <p class="text-success" style="font-weight: bold">$14.50</p>
              <span>$18.50</span>
            </div>

            <a href="#" class="btn mb-2" style="border: 1px solid black"
              >AddToCart</a
            >
            <p class="text-danger mb-2">In Stock</p>
          </div>
        </div>
      </a>
    </div>
    <div style="margin-right: 20px">
      <a href="product-mat.php" style="text-decoration: none; color: black">
        <div class="card" style="width: 18rem">
          <div class="product-badge sale">-20%</div>
          <img src="./images/ad-image-3.png" class="card-img-top" alt="..." />
          <hr class="text-muted mt-5" />
          <div class="card-body" style="margin-left: 50px">
            <h5 class="card-title m-auto mb-2">Beautiful Mats</h5>
            <div>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
            </div>
            <span>unit: 1 Pack</span>
            <div class="d-flex mb-2">
              <p class="text-success" style="font-weight: bold">$14.50</p>
              <span>$18.50</span>
            </div>

            <a href="#" class="btn mb-2" style="border: 1px solid black"
              >AddToCart</a
            >
            <p class="text-danger mb-2">In Stock</p>
          </div>
        </div>
      </a>
    </div>
    <div style="margin-right: 20px">
      <a
        href="product-vegetables.php"
        style="text-decoration: none; color: black"
      >
        <div class="card" style="width: 18rem">
          <img src="./images/ad-image-1.png" class="card-img-top" alt="..." />
          <hr class="text-muted mt-5" />
          <div class="card-body" style="margin-left: 50px">
            <h5 class="card-title m-auto mb-2">Organic Vegetables</h5>
            <div>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <span>unit: 1 Pack</span>
            <div class="d-flex mb-2">
              <p class="text-success" style="font-weight: bold">$14.50</p>
              <span>$18.50</span>
            </div>

            <a href="#" class="btn mb-2" style="border: 1px solid black"
              >AddToCart</a
            >
            <p class="text-danger mb-2">In Stock</p>
          </div>
        </div>
      </a>
    </div>
    <div style="margin-right: 20px">
      <a
        href="product-icecream.php"
        style="text-decoration: none; color: black"
      >
        <div class="card" style="width: 18rem">
          <div class="product-badge HOT">-80%</div>
          <img src="./images/ad-image-4.png" class="card-img-top" alt="..." />
          <hr class="text-muted mt-5" />
          <div class="card-body" style="margin-left: 50px">
            <h5 class="card-title m-auto mb-2">Strawbery Icecream</h5>
            <div>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <span>unit: 1 Pack</span>
            <div class="d-flex mb-2">
              <p class="text-success" style="font-weight: bold">$14.50</p>
              <span>$18.50</span>
            </div>

            <a href="#" class="btn mb-2" style="border: 1px solid black"
              >AddToCart</a
            >
            <p class="text-danger mb-2">In Stock</p>
          </div>
        </div>
      </a>
    </div>
    <div style="margin-right: 20px">
      <a href="product-mat.php" style="text-decoration: none; color: black">
        <div class="card" style="width: 18rem">
          <img src="./images/ad-image-3.png" class="card-img-top" alt="..." />
          <hr class="text-muted mt-5" />
          <div class="card-body" style="margin-left: 50px">
            <h5 class="card-title m-auto mb-2">Beautiful Mats</h5>
            <div>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <span>unit: 1 Pack</span>
            <div class="d-flex mb-2">
              <p class="text-success" style="font-weight: bold">$14.50</p>
              <span>$18.50</span>
            </div>

            <a href="#" class="btn mb-2" style="border: 1px solid black"
              >AddToCart</a
            >
            <p class="text-danger mb-2">In Stock</p>
          </div>
        </div>
      </a>
    </div>
    <div style="margin-right: 20px">
      <a
        href="product-vegetables.php"
        style="text-decoration: none; color: black"
      >
        <div class="card" style="width: 18rem">
          <img src="./images/ad-image-1.png" class="card-img-top" alt="..." />
          <hr class="text-muted mt-5" />
          <div class="card-body" style="margin-left: 50px">
            <h5 class="card-title m-auto mb-2">Organic Vegetables</h5>
            <div>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <span>unit: 1 Pack</span>
            <div class="d-flex mb-2">
              <p class="text-success" style="font-weight: bold">$14.50</p>
              <span>$18.50</span>
            </div>

            <a href="#" class="btn mb-2" style="border: 1px solid black"
              >AddToCart</a
            >
            <p class="text-danger mb-2">In Stock</p>
          </div>
        </div>
      </a>
    </div>
    <div style="margin-right: 20px">
      <a
        href="product-icecream.php"
        style="text-decoration: none; color: black"
      >
        <div class="card" style="width: 18rem">
          <img src="./images/ad-image-2.png" class="card-img-top" alt="..." />
          <hr class="text-muted mt-5" />
          <div class="card-body" style="margin-left: 50px">
            <h5 class="card-title m-auto mb-2">Chocolate Icecream</h5>
            <div>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star checked" style="color: yellow"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <span>unit: 1 Pack</span>
            <div class="d-flex mb-2">
              <p class="text-success" style="font-weight: bold">$14.50</p>
              <span>$18.50</span>
            </div>

            <a href="#" class="btn mb-2" style="border: 1px solid black"
              >AddToCart</a
            >
            <p class="text-danger mb-2">In Stock</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
