<div class="container my-5">
  <div class="row">
    <div class="col-md-4">
      <h4
        class="mb-4"
        style="
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
        "
      >
        Recent Landing
      </h4>
      <ul class="product-list" style="border: 1px solid black; padding: 20px">
        <a
          href="product-vegetables.php"
          style="text-decoration: none; color: black"
        >
          <li
            class="product-item d-flex align-items-center Product-box-container"
          >
            <img
              src="./images/ad-image-5.png"
              alt="Product"
              class="product-img me-3"
            />
            <div>
              <div>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star"></span>
              </div>
              <h6 class="product-title">Vegetables</h6>
              <p>Unit: 1kg</p>
              <p class="product-price">
                $15.50 <span class="product-old-price">$20.50</span>
              </p>
            </div>
          </li>
        </a>
        <a
          href="product-icecream.php"
          style="text-decoration: none; color: black"
        >
          <li
            class="product-item d-flex align-items-center Product-box-container"
          >
            <img
              src="./images/ad-image-3.png"
              alt="Product"
              class="product-img me-3"
            />
            <div>
              <div>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star"></span>
              </div>
              <h6 class="product-title">Organic Icecream</h6>
              <p>Unit: 1kg</p>
              <p class="product-price">
                $15.50 <span class="product-old-price">$20.50</span>
              </p>
            </div>
          </li>
        </a>
        <a href="product-pasta.php" style="text-decoration: none; color: black">
          <li
            class="product-item d-flex align-items-center Product-box-container"
          >
            <img
              src="images/ad-image-14.png"
              alt="Product"
              class="product-img me-3"
            />
            <div>
              <div>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star"></span>
              </div>
              <h6 class="product-title">Itallian Wheat Pasta</h6>
              <p>Unit: 1kg</p>
              <p class="product-price">
                $11.50 <span class="product-old-price">$19.50</span>
              </p>
            </div>
          </li>
        </a>
        <a
          href="product-cabbage.php"
          style="text-decoration: none; color: black"
        >
          <li
            class="product-item d-flex align-items-center Product-box-container"
          >
            <img
              src="images/ad-image-13.png"
              alt="Product"
              class="product-img me-3"
            />
            <div>
              <div>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <h6 class="product-title">Green Chineese Cabbage</h6>
              <p>Unit: 1kg</p>
              <p class="product-price">
                $15.50 <span class="product-old-price">$23.50</span>
              </p>
            </div>
          </li>
        </a>
      </ul>
    </div>
    <div class="col-md-4">
      <h4
        class="mb-4"
        style="
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
        "
      >
        Best Selling
      </h4>
      <ul class="product-list" style="border: 1px solid black; padding: 20px">
        <a
          href="product-detergent.php"
          style="text-decoration: none; color: black"
        >
          <li
            class="product-item d-flex align-items-center Product-box-container"
          >
            <img
              src="images/ad-image-12.png"
              alt="Product"
              class="product-img me-3"
            />
            <div>
              <div>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
              </div>
              <h6 class="product-title">Organic Liquid Detergents</h6>
              <p>Unit: 1kg</p>
              <p class="product-price">
                $12.50 <span class="product-old-price">$15.70</span>
              </p>
            </div>
          </li>
        </a>
        <a
          href="product-strawbery.php"
          style="text-decoration: none; color: black"
        >
          <li
            class="product-item d-flex align-items-center Product-box-container"
          >
            <img
              src="images/ad-image-11.png"
              alt="Product"
              class="product-img me-3"
            />
            <div>
              <div>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <h6 class="product-title">Fresh Organic Strawbury</h6>
              <p>Unit: 1kg</p>
              <p class="product-price">
                $15.50 <span class="product-old-price">$20.50</span>
              </p>
            </div>
          </li>
        </a>
        <a href="product-mat.php" style="text-decoration: none; color: black">
          <li
            class="product-item d-flex align-items-center Product-box-container"
          >
            <img
              src="./images/ad-image-4.png"
              alt="Product"
              class="product-img me-3"
            />
            <div>
              <div>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
              </div>
              <h6 class="product-title">Beautiful Mats</h6>
              <p>Unit: 1kg</p>
              <p class="product-price">
                $18.50 <span class="product-old-price">$30.50</span>
              </p>
            </div>
          </li>
        </a>
        <a
          href="product-icecream.php"
          style="text-decoration: none; color: black"
        >
          <li
            class="product-item d-flex align-items-center Product-box-container"
          >
            <img
              src="./images/ad-image-3.png"
              alt="Product"
              class="product-img me-3"
            />
            <div>
              <div>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star"></span>
              </div>
              <h6 class="product-title">Fresh IceCream</h6>
              <p>Unit: 1kg</p>
              <p class="product-price">
                $22.50 <span class="product-old-price">$27.50</span>
              </p>
            </div>
          </li>
        </a>
      </ul>
    </div>

    <div class="col-md-4">
      <h4
        class="mb-4"
        style="
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
        "
      >
        Trending Item
      </h4>
      <ul class="product-list" style="border: 1px solid black; padding: 20px">
        <a
          href="product-vegetables.php"
          style="text-decoration: none; color: black"
        >
          <li
            class="product-item d-flex align-items-center Product-box-container"
          >
            <img
              src="./images/ad-image-5.png"
              alt="Product"
              class="product-img me-3"
            />
            <div>
              <div>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
              </div>
              <h6 class="product-title">Organic Vegetables</h6>
              <p>Unit: 1kg</p>
              <p class="product-price">
                $8.50 <span class="product-old-price">$12.50</span>
              </p>
            </div>
          </li>
        </a>
        <a
          href="product-grapes.php"
          style="text-decoration: none; color: black"
        >
          <li
            class="product-item d-flex align-items-center Product-box-container"
          >
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWJhjw3GL9xqn4Po9xI_jMxiJMc-GzX-Hxww&s"
              alt="Product"
              class="product-img me-3"
            />
            <div>
              <div>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
              </div>
              <h6 class="product-title">Fresh Grapes</h6>
              <p>Unit: 1kg</p>
              <p class="product-price">
                $3.50 <span class="product-old-price">$7.50</span>
              </p>
            </div>
          </li>
        </a>
        <a
          href="product-orange.php"
          style="text-decoration: none; color: black"
        >
          <li
            class="product-item d-flex align-items-center Product-box-container"
          >
            <img
              src="images/ad-image-10.png"
              alt="Product"
              class="product-img me-3"
            />
            <div>
              <div>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <h6 class="product-title">Fresh Organic Oranges</h6>
              <p>Unit: 1kg</p>
              <p class="product-price">
                $5.50 <span class="product-old-price">$10.50</span>
              </p>
            </div>
          </li>
        </a>
        <a href="product-milk.php" style="text-decoration: none; color: black">
          <li
            class="product-item d-flex align-items-center Product-box-container"
          >
            <img
              src="images/ad-image-9.png"
              alt="Product"
              class="product-img me-3"
            />
            <div>
              <div>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
                <span class="fa fa-star checked" style="color: yellow"></span>
              </div>
              <h6 class="product-title">Fresh Organic Milk</h6>
              <p>Unit: 1kg</p>
              <p class="product-price">
                $10.22 <span class="product-old-price">$15.50</span>
              </p>
            </div>
          </li>
        </a>
      </ul>
    </div>
  </div>
</div>
