<div class="container">
  <div class="d-flex heading">
    <h1
      style="
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      "
    >
      Deals of the Week
    </h1>
    <p>
      <span class="span-product">&#139;</span>
      <span class="span-product">&#155;</span>
    </p>
  </div>
  <div>
    <hr class="text-dark" />
  </div>

  <div class="product-container my-5">
    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <div class="product-card product">
        <a href="product-chips.php" style="color: black; text-decoration: none">
          <div class="product-badge">HOT</div>
          <img src="./images/ad-image-1.png" alt="Product 1" />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">Chineese Chips</div>
          <div class="rating">★★★★★</div>
          <div class="product-meta">Unit: 500gm</div>
          <div class="product-price">$8.50</div>
          <div class="product-price-original">$10.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </a>
      </div>
    </div>

    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <div class="product-card product">
        <a href="product-iron.php" style="color: black; text-decoration: none">
          <div class="product-badge best">BEST</div>
          <img src="./images/ad-image-2.png" alt="Product 1" />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">Panasonic Iron</div>
          <div class="rating">★★★★☆</div>
          <div class="product-meta">Unit: 500gm</div>
          <div class="product-price">$20.50</div>
          <div class="product-price-original">$38.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </a>
      </div>
    </div>

    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <div class="product-card product">
        <a href="product-mat.php" style="color: black; text-decoration: none">
          <img src="./images/ad-image-4.png" alt="Product 1" />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">Beautiful Mats</div>
          <div class="rating">★★★☆☆</div>
          <div class="product-meta">Unit: 500gm</div>
          <div class="product-price">$5.00</div>
          <div class="product-price-original">$10.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </a>
      </div>
    </div>

    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <div class="product-card product">
        <a
          href="product-icecream.php"
          style="color: black; text-decoration: none"
        >
          <div class="product-badge sale">-20%</div>
          <img src="./images/ad-image-3.png" alt="Product 1" />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">IceCream</div>
          <div class="rating">★★★★☆</div>
          <div class="product-meta">Unit: 500gm</div>
          <div class="product-price">$2.00</div>
          <div class="product-price-original">$5.00</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </a>
      </div>
    </div>

    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <div class="product-card product">
        <a href="product-cake.php" style="color: black; text-decoration: none">
          <div class="product-badge sale">-30%</div>
          <img src="./images/ad-image-19.png" alt="Product 1" />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">Cake</div>
          <div class="rating">★★★★★</div>
          <div class="product-meta">Unit: 500gm</div>
          <div class="product-price">$5.00</div>
          <div class="product-price-original">$10.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </a>
      </div>
    </div>

    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <div class="product-card product">
        <a
          href="product-biscuits.php"
          style="color: black; text-decoration: none"
        >
          <div class="product-badge sale">-20%</div>
          <img src="./images/ad-image-18.png" alt="Product 1" />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">Biscuits</div>
          <div class="rating">★★★★☆</div>
          <div class="product-meta">Unit: 500gm</div>
          <div class="product-price">$5.00</div>
          <div class="product-price-original">$10.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </a>
      </div>
    </div>

    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <div class="product-card product">
        <a
          href="product-vegetables.php"
          style="color: black; text-decoration: none"
        >
          <img src="./images/ad-image-5.png" alt="Product 1" />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">Organic Vegetables</div>
          <div class="rating">★★★★☆</div>
          <div class="product-meta">Unit: 500gm</div>
          <div class="product-price">$2.00</div>
          <div class="product-price-original">$3.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </a>
      </div>
    </div>

    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <div class="product-card product">
        <a
          href="product-custard.php"
          style="color: black; text-decoration: none"
        >
          <div class="product-badge sale">-20%</div>
          <img
            src="https://springs.com.pk/cdn/shop/products/620514006178.jpg?v=1675246488"
            alt="Product 1"
          />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">Custard Mango</div>
          <div class="rating">★★★★☆</div>
          <div class="product-meta">Unit: 500gm</div>
          <div class="product-price">$8.50</div>
          <div class="product-price-original">$10.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </a>
      </div>
    </div>

    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <div class="product-card product">
        <a href="product-Apple.php" style="color: black; text-decoration: none">
          <div class="product-badge sale">-20%</div>
          <img src="./images/ad-image-29.png" alt="Product 1" />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">Fresh Apples</div>
          <div class="rating">★★★★☆</div>
          <div class="product-meta">Unit: 5Kg</div>
          <div class="product-price">$5.00</div>
          <div class="product-price-original">$10.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </a>
      </div>
    </div>

    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <div class="product-card product">
        <a
          href="product-samosa.php"
          style="color: black; text-decoration: none"
        >
          <img src="./images/ad-image-25.png" alt="Product 1" />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">Samosa & Roll</div>
          <div class="rating">★★★★☆</div>
          <div class="product-meta">Unit: 5kg</div>
          <div class="product-price">$5.00</div>
          <div class="product-price-original">$8.50</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </a>
      </div>
    </div>

    <div class="col-md-3 col-12 col-lg-2" style="margin-right: 20px">
      <div class="product-card product">
        <a
          href="product-brinjal.php"
          style="color: black; text-decoration: none"
        >
          <div class="product-badge sale">-30%</div>
          <img src="./images/ad-image-23.png" alt="Product 1" />
          <div class="product-meta">By: Big Market</div>
          <div class="product-title">Fresh Brinjal</div>
          <div class="rating">★★★★★</div>
          <div class="product-meta">Unit: 3kg</div>
          <div class="product-price">$3.00</div>
          <div class="product-price-original">$5.00</div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </a>
      </div>
    </div>
  </div>
</div>
