<div class="container-fluid footer py-5" style="background: rgb(1, 68, 1)">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="widget_text footer-widget">
          <div class="textwidget">
            <h4 class="mb-3">About Us</h4>
            <p>
              Groceworld is a Online Grocery Store which is established to
              provide trouble-free online shopping experience at your
              fingertips.
            </p>
          </div>
        </div>
        <h6 class="text-light mt-5">Follow Us</h6>
        <div class="d-flex align-items-center" style="flex-wrap: wrap">
          <i class="fas fa-share fa-2x text-light me-2"></i>
          <a
            class="btn-square btn rounded mx-1"
            href=""
            style="background-color: lightgreen"
            ><i class="fab fa-facebook-f text-light"></i
          ></a>
          <a
            class="btn-square btn rounded mx-1"
            href=""
            style="background-color: lightgreen"
            ><i class="fab fa-twitter text-light"></i
          ></a>
          <a
            class="btn-square btn rounded mx-1"
            href=""
            style="background-color: lightgreen"
            ><i class="fab fa-instagram text-light"></i
          ></a>
          <a
            class="btn-square btn rounded mx-1"
            href=""
            style="background-color: lightgreen"
            ><i class="fab fa-linkedin-in text-light"></i
          ></a>
        </div>
        <p class="text-center text-light">Groceworld.pk</p>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="widget_primary-get-in-touch footer-widget">
          <h4 class="widget-title mb-3">Information</h4>
          <ul class="contact-footer contact-composer">
            <li style="list-style: none; margin-bottom: 10px">
              <span class="">About Us</span>
            </li>
            <li style="list-style: none; margin-bottom: 10px">
              <span>Delivery Information</span>
            </li>
            <li style="list-style: none; margin-bottom: 10px">
              <span>Privacy Policy</span>
            </li>
            <li style="list-style: none; margin-bottom: 10px">
              <span>Contact</span>
            </li>
            <li style="list-style: none; margin-bottom: 10px">
              <span>Terms & Conditions</span>
            </li>
            <li style="list-style: none; margin-bottom: 10px">
              <span>Returns</span>
            </li>
            <li style="list-style: none; margin-bottom: 10px">
              <span>Support Center</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="footer-widget">
          <h4 class="widget-title">Categories</h4>
          <ul>
            <li style="list-style: none; margin-bottom: 10px">
              <a href="#" style="text-decoration: none; color: white"
                >Bakery & Pastery</a
              >
            </li>
            <li style="list-style: none; margin-bottom: 10px">
              <a href="#" style="text-decoration: none; color: white">Meats</a>
            </li>
            <li style="list-style: none; margin-bottom: 10px">
              <a href="#" style="text-decoration: none; color: white"
                >Frozen & Seafood</a
              >
            </li>
            <li style="list-style: none; margin-bottom: 10px">
              <a
                href="#"
                style="text-decoration: none; color: white"
                class="span-footer"
                >Custard Powder</a
              >
            </li>
            <li style="list-style: none; margin-bottom: 10px">
              <a href="#" style="text-decoration: none; color: white"
                >Vegetable</a
              >
            </li>
            <li style="list-style: none; margin-bottom: 10px">
              <a href="#" style="text-decoration: none; color: white"
                >Farm Raised Fillets</a
              >
            </li>
            <li style="list-style: none; margin-bottom: 10px">
              <a href="#" style="text-decoration: none; color: white"
                >Snacks Item</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="widget_primary-get-in-touch footer-widget">
          <h4 class="widget-title mb-3">Contact Us</h4>
          <ul class="contact-footer contact-composer">
            <h6 class="widget-title mb-3">Location</h6>
            <li style="list-style: none; margin-bottom: 10px">
              <span class="">Centrside Los Angeles</span>
            </li>
            <h6 class="widget-title mb-3">Phone</h6>
            <li style="list-style: none; margin-bottom: 10px">
              <span>Phone: 8 (043) 567 - 89 - 30</span>
            </li>
            <h6 class="widget-title mb-3">Email Us</h6>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="widget_primary-get-in-touch footer-widget">
          <h4 class="text-white mb-3">Newsletter</h4>
          <p class="text-light">Get update Every Week your Inbox</p>
          <div class="position-relative mx-auto" style="max-width: 400px">
            <input
              class="form-control border-primary w-100 py-3 ps-4 pe-5"
              type="text"
              placeholder="Your email"
              style="height: 50px"
            />
            <div>
              <button
                type="button"
                class="btn py-2 position-relative top-20 end-0 mt-2 me-2 text-light"
                style="
                  right: 30px;
                  background-color: rgb(235, 184, 90);
                  border-radius: 50px;
                  width: 150px;
                  height: 60px;
                "
              >
                SignUp
              </button>
            </div>
          </div>
          <div class="pt-5">
            <img
              src="https://s3-alpha-sig.figma.com/img/babb/d088/2218dc44d3e484afe50059b96e77c83c?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=G9KTMR~UPOFXh9hUbHGAJv2n4Y8WFG6Pmkhp5eh1IQFYBjBV80e8JGk~aBWUvqUGH4RqZT7ou3LIFHrPB5ievqwYlBPhiha7Q2GkK8tQWUrJPUu6XXkDqIhm6UVewHIQptPW~srFZdKYN2J4k4rodpGdF~xwB~dWGqZZ7F8HxH2BWwRTFWXVassEYqEbj1RPxqSyOUFQ4YmQmHWo-XvGVxoh6ls699cC1~eWrNkPOwmaAaZabbEQVkoHsjsVXaiobZuBaVunFGGF16~TPnj71yXiZqa~-RpVE-2hGpGpr1RmXOqFWKYw9Xe62cR~rsbCaZNFY0uoctfXdOEEdhkcgQ_"
              alt=""
              height="80"
              width="230"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="background: rgb(1, 68, 1)">
  <div class="copyright">
    <div class="row">
      <div
        class="col-md-6 col-lg-4 text-center text-md-start mb-3 mb-md-0"
        style="text-decoration: none; color: white; font-size: 13px"
      >
        Copyright © 2024
        <a
          class="border-bottom"
          href="#"
          style="text-decoration: none; color: white; font-size: 13px"
          >Groce World</a
        >
        All Right Reserved.
      </div>

      <div
        class="col-md-6 col-lg-4 text-center text-md-center mb-3 mb-md-0"
        style="text-decoration: none; font-size: 13px"
      >
        <a href="#" class="text-white me-2"
          ><i class="fab fa-cc-amex fa-2x"></i
        ></a>
        <a href="#" class="text-white me-2"
          ><i class="fab fa-cc-visa fa-2x"></i
        ></a>
        <a href="#" class="text-white me-2"
          ><i class="fas fa-credit-card fa-2x"></i
        ></a>
        <a href="#" class="text-white me-2"
          ><i class="fab fa-cc-mastercard fa-2x"></i
        ></a>
        <a href="#" class="text-white me-2"
          ><i class="fab fa-cc-paypal fa-2x"></i
        ></a>
        <a href="#" class="text-white"
          ><i class="fab fa-cc-discover fa-2x"></i
        ></a>
      </div>

      <div class="col-md-6 col-lg-4 text-center text-lg-end">
        <div class="footer-menu">
          <a
            href=""
            style="
              text-decoration: none;
              color: white;
              font-size: 13px;
              margin: 3px;
            "
            >Our Company |</a
          >
          <a
            href=""
            style="
              text-decoration: none;
              color: white;
              font-size: 13px;
              margin: 3px;
            "
          >
            Career</a
          >
          <a
            href=""
            style="
              text-decoration: none;
              color: white;
              font-size: 13px;
              margin: 3px;
            "
            >| All Departments</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer-end  -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
